@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #311f65;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: #45369a;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  max-width: 800px;
  width: 100%;
}

.typing-area {
  background-color: #544cc2;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#text {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-right: 1rem;
}

#text span {
  background-color: #fff;
  color: #45369a;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

#text span.correct {
  background-color: green;
  color: #fff;
}

#text span.incorrect {
  background-color: red;
  color: #fff;
}

#input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  background-color: #fff;
  color: #45369a;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #544cc2;
  color: #fff;
}

#result {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
